

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppin', sans-serif;
    color: #1e1e1e;
}

.center {
   color: mediumslateblue;
    text-align: center;
 }

 .justify{
     color: #ffff;
    text-align: justify;
    
 }

 .container {
    display: flex;
    flex-flow: row;
    height: 60vh;
    width: 100vw;
    background-image: url(./assets/img/0043044fd8e3c55c584ddaf0c9c134e2.gif);
    background-position: center;
    background-size: contain;
    justify-content: flex-end;
    align-items: center;
   
 }  

 .formulario {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

 }
 .final{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

 }

 #menu li {
    display: inline;
    padding: 15px;
    
 }
 
 #menu li a {
    text-decoration: none;
    color: #e884f5;
    font-size: 20px;
 }
 
 #menu li a:hover {
    color: grey;
 }
 
 .p-30 {
    padding: 30px;
 }
 
 .br-50 {
    
    border-radius: 50%;
 }
 
 .wh-300{
    width: 300px;
    height: 300px;
 
 }
 
 .tm-social {
    width: 50px;
    height: 50px;
 }
 
 .mb-50{
    margin-bottom: 50px;
 }